
<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="login"
      color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</div>


<ion-content>
    <ion-card>
        <h2>Perdí mi contraseña</h2>
        <p>Ingresa tu correo electrónico para buscar tu cuenta y así poder recuperarla</p>
        <form [formGroup]="emailForm" class="form">
          <!--<ion-text  *ngIf="campoInvalido('email')">Correo inválido</ion-text>-->
          <input class="input" formControlName="email" type="email" placeholder="Ingrese su correo">
        </form>
        <ion-row>
          <ion-col class="col-12 ion-text-center"  >
            <ion-button class="buscar-cuenta"  expand="block" fill="clear" shape="round">
              RECUPERAR CONTRASEÑA
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-card>

</ion-content>
