<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="home"
      color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-row>
  <ion-col *ngIf="this.loading" class="ion-text-center" size="12">
    <ion-spinner color="primary" size="4"  name="lines"></ion-spinner>
  </ion-col>
</ion-row>

<ion-content *ngIf="!this.loading">
  <ion-card >
    <ion-grid class="ion-justify-content-center">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h2 style="font-size: 25px; font-weight: bold;">Cambiar Contraseña</h2>
        </ion-col>
      </ion-row>

      <p>Para cambiar tu contraseña necesitas ingresar la actual y asi hacer el cambio. </p>
       <!--Formulario reactivo con formControlName para los valores -->
      <ion-row>
        <ion-col class="form">
          <form [formGroup]="formPasswords">
            <ion-text *ngIf="campoInvalido('oldPassword')">Contraseña inválida</ion-text>
            <input class="input" formControlName="oldPassword" type="password"  placeholder="Contraseña actual">

            <ion-text *ngIf="campoInvalido('password')">Contraseña inválida</ion-text>
            <input class="input" formControlName="password" type="password" placeholder="Nueva contraseña">

            <ion-text *ngIf="campoInvalido('verifyPassword')">Contraseñas deben ser iguales</ion-text>
            <input class="input" formControlName="verifyPassword" type="password" placeholder="Confirmar contraseña">
          </form>

        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button class="button-primary" (click)="changePassword()" expand="block" fill="clear" shape="round">
            CAMBIAR CONTRASEÑA
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer></ion-footer>
