<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="home"
      color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</div>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  
    <div class="container">
      <div class="primer-contenedor">
        <div class="title">
          <h2>Cortes de caja</h2>
        </div>
        <div class="container-headers">
          
          <div>
            <p class="header-product">Fecha corte</p>
          </div>
          
          <div>
            <p class="vendido-total">Total vendido</p>
          </div>
        </div>
  
        <hr>
      
        <ion-list>
          <ion-item-sliding class="item-sliding" >
            <ion-item-options side="start">
              <ion-item-option color="success">
                <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
        
            <ion-item>
              <div class="contenedor-precio-cantidad">
                <h5 class="producto">Pedido 1</h5>
                <h5 class="total"> $ 8.000 </h5>
              </div>
            </ion-item>
      
            <ion-item-options side="end" >
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          
        </ion-list>
      </div>
      <div class="segundo-contenedor">
        
        
      
      </div>
     
      
      
    </div>
    
  </ion-content>