<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="title-menu">
        <ion-icon size="small" name="person"></ion-icon>
        <ion-title>Administrador</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list id="inbox-list">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="primer-contenedor">
      <div class="title">
        <h2>Notas del dia</h2>
      </div>
      <div class="container-headers">
        
        <div>
          <p class="header-product">Pedido</p>
        </div>
        
        <div>
          <p class="vendido-total">Precio</p>
        </div>
      </div>

      <hr>
    
      <ion-list>
        <ion-item-sliding class="item-sliding" >
          <ion-item-options side="start">
            <ion-item-option color="success">
              <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      
          <ion-item>
            <div class="contenedor-precio-cantidad">
              <h5 class="producto">Pedido 1</h5>
              <h5 class="total"> $ 8.000 </h5>
            </div>
          </ion-item>
    
          <ion-item-options side="end" >
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-list>
    </div>
    <div class="segundo-contenedor">
      <div class="contenedor-ventas-dia">
        <div class="total-en-ventas">
          <h3 class="efectivo">Total Transferencias</h3>
          <h3 class="total">$143.000</h3>
        </div>
  
        <div class="total-en-ventas">
          <h3 class="efectivo">Total Efectivo</h3>
          <h3 class="total">$78.000</h3>
        </div>
      </div>
      
      <div class="container-btn-create">
        <button class="btn-create-note" [routerLink]="['/corte-caja']">realizar corte de caja</button>
        
      </div>
    </div>
   
    
    
  </div>
  
</ion-content>
