<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="home"
      color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<div class="container-headers">
  <div>
    <p class="header-product">Producto</p>
  </div>
  <div class="vendido-total">
    <p>Vendido</p>
    <p>Precio</p>
  </div>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">createNote</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
